.socialSignIn{
    margin: 16px auto 0;
}
.links{
    display:block;
    width: 100%;
    margin: 15px auto 0;
    a{
        color: black;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .signIn{
        width: 80%;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .signIn{
        width: 100%;
        max-width: 400px;
        margin: 40px auto 60px;
        border: 1px solid black;
        font-family: "Open Sans", sans-serif;
        .wrap{
            padding: 20px 10px;
            h2{
               font-size: 22px;
               line-height: 1;
               font-weight: 400;
               text-transform: uppercase;
               text-align: center;
               display: block;
               width: 100%;
               margin: 0 auto 30px;
               padding: 0;
            }
            .socialSignIn{
                margin: 8px auto 0;
            }
        }
   }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}