.adminToolBar{
    display: inline-flex;
    width: 100%;
    background-color: black;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: flex-end;
    a{
        float: right;
        display: block;
        font-size: 1rem;
        line-height: 1;
        color: white;
        padding: 10px;
        transition: all .4s ease-in-out;
        &:hover{
            background-color: rgba(255,255,255,0.6);
            color: black;
            transition: all .4s ease-in-out;
        }
    }
}